# Virtual enviorment
.venv/
venv/

# PyCharm
.idea/

# Python cache
__pycache__/
*.pyc
*.pyo

# Enviorment/secrets
.env
*.env.local

# OS junk
.DS_Store
Thumbs.db

# Distribution/build
build/
dist/
*.egg-info/

run_term.py
